# History files
.Rhistory
.Rapp.history
# data
.RData

# Example code in package build process
*-Ex.R

# RStudio files
.Rproj.user/

# produced vignettes
vignettes/*.html
vignettes/*.pdf

# files specific to this project
Recommender_systems.Rproj
blogpost.html

# API key
api_key.R

# data
taste_profile_usercat_120k.txt

# scratch paper
exercises.R
get_data.R
recommenderlab.R
screen_data.R

# works in progress

